<a href="https://colab.research.google.com/github/Sourish8/python_for_beginner/blob/main/4.Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Data Structure : List , Tupple , Set , Dictionary**

**List**




1.  **Changes List Elements**
2.  **Add list elements**
3.  **Remove list elements**

In [ ]:
brothers = ["Shimul", 26, "Saumik", 25, "Sourish", 23, "Deep"]
print(brothers)
print(type(brothers))

**Check if the element presence in the string**

In [ ]:
member = 25 in brothers
print(member)
print("sovik" in brothers)

**Checking length on a string**

In [ ]:
print(len(brothers))

**List Slicing**

In [ ]:
# [:6] is as same as [0:6]. we can also use [:6] as an alternate.
print(brothers[0:6]) 

print(brothers[-2])

print(brothers[-7:])

**Add list element**

In [ ]:
brothers.append(21)
print(brothers)

brothers.append("sovik")
print(brothers)

**Remove list element**

In [ ]:
brothers.remove("sovik")
print(brothers)

**Reverse list element**

In [ ]:
brothers.reverse()
print(brothers)

**Sorting**

In [ ]:
odd = [15,3,35,87,99,21,-1,-7]
print(odd)
print(sorted(odd))

In [ ]:
print(sorted(odd, reverse = True))  #Dscending
print(sorted(odd, reverse = False)) #ascending  Default

**How to find the minimum value, maximum value and total sum of a list?**

In [ ]:
even = [10,88,28,2,-8,-4]
print(even)
print(max(even))
print(sum(even))
print(min(even))

**What will happen if we add two list?**

In [ ]:
name = ["sourish","tilok","antu","niloy","anwar","pritom","mithun"]
number = [8,10,1,9,7,6,4]
jersy = name + number
print(jersy)
print(len(jersy))

print(jersy[-7:])
print(jersy[:7])

print(jersy[5])
print(len(jersy[5]))

In [ ]:
name = ["sourish","tilok","antu","niloy","anwar","pritom","mithun"]
height = [5.9,5.6,5.11,6,5.5,5.6,5.6]

name_height = [name, height]

print(name_height)
print(len(name_height))

print(name_height[1])
print(name_height[0])

print(name_height[0][4])
print(len(name_height[0][3]))

print(name_height[1][4])

print(type(name_height[1][4]))

**How to count the frequency of a specific element in a list?**

In [ ]:
even = [10,88,8,10,8,12,-4,2,8,2,-8,-4]
print(len(even))

print(even.count(8))

print(even.index(8,5,12))

**Insert a new element in the list**

In [ ]:
number = [1, "two", 3.0 , [4-5j,6], "Eight"]
number.insert(2,10)

print(len(number))

print(number)

**Tupple**

Tupple is a another type of data structure.

**##What is difference between List and Tupple?**

A list is mutable, and a tuple is immutable. We can change a list by adding or removing any element, but we can't change anything inside a tuple.

List represented by "[]" and tuple reprented by "()"

In [ ]:
movie = ("Zindegi","Na","Mileage","Dobara")
print(type(movie))
print(movie)

In [ ]:
print(movie[1])
print(movie[1:4])
print(len(movie[3]))
print(movie[-2:])
print(movie[-1])
print(movie[3])

In [ ]:
print(len(movie))
# frequency
print(movie.count("Na"))
# index
print(movie.index("Dobara"))

In [ ]:
number= (0,18,5,7,2,8,2,7,2,4)
print(number)

#frequency
print(number.count(2))
#index 
print(number.index(2))
#sum
print(sum(number))
#maximum 
print(max(number))
print(min(number))

In [ ]:
print(number)
# sorting
print(sorted(number))

# add two tupple

name = ("Messi","Di Maria","Aguero","Mascherano")
jersy =(10,11,9,4)

name_jersy = name+jersy
print(name_jersy)

In [ ]:
nam = ("Neymar","Ronaldinho","Coutinho","Dani Alves")

jersy = (11,10,8,2)
nam_jersy =(nam, jersy)
print(nam_jersy)

In [ ]:
print