<a href="https://colab.research.google.com/github/Sourish8/python_for_beginner/blob/main/practices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
gpa = ["Niloy", 5.0, "Sourish", 4.89 ,"Mithun", 4.83,"Tilok", 4.83, "Anwar", 4.75]
print(gpa)
print(type(gpa))
print(len(gpa))

In [ ]:
print(gpa[4])
print(len(gpa[2]))
print(gpa[3:9])
print(gpa[-3])
print(gpa[-4:])

In [ ]:
gpa.append("pritom")
print(gpa)

In [ ]:
gpa.remove("pritom")
print(gpa)

In [ ]:
gpa.reverse()
print(gpa)

In [ ]:
print(gpa)
# gpa.reverse()
print(gpa)
print(len(gpa))
gpa.insert(11,4.89)
print(gpa)

gpa_1 = ["mithun",4.83]

GPA = gpa+gpa_1
print(GPA)

print(GPA.count(4.89))

In [ ]:
roll = [6,88,-4,-25,15,24,48]
print(roll)
print(sorted(roll))
print(sorted(roll, reverse = True))
print(sum(roll))
print(max(roll))
print(min(roll))

In [ ]:
name = ["tilok","niloy","antu","anwar","mithun","pritom","sourish"]
print(len(name))
print(name)
title = ["barua","talukder","mallick","hossain","das","karmakar","chowdhury"]
print(title)

name_title = [name, title]
print(name_title)
print(len(name_title))
print(name_title[0])
print(name_title[0][5])

print("mithun" in name_title)