<a href="https://colab.research.google.com/github/Sourish8/python_for_beginner/blob/main/Practice_01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**python data types**

In [ ]:
# comment in python is crtl+/
# there are four types of data types in python 
# they are string, integer, floating , boolean

name = "Sourish Chowdhury"
print("My name is ",name)

birth_yr = "1999"
print("I was born in ", birth_yr)

height = 5 + (9/12)
print("my height is ", height ,"feet")

student = True
print("am i a student?:" , student)

My name is  Sourish Chowdhury
I was born in  1999
my height is  5.75 feet
am i a student?: True

In [ ]:
print(type(name))
print(type(birth_yr))
print(type(student))
print(type(height))

<class 'str'>
<class 'str'>
<class 'bool'>
<class 'float'>

Operators

Mathmatical Operators
"+" , "-" , "*" , "/" .

In [ ]:
a = 8 
b = 13
# addition
print("a+b = ", a+b)
# substraction
print("a-b = ", a-b)
#multiplication
print("a*b = ", a*b)
#division
print("a/b=", a/b)

a+b =  21
a-b =  -5
a*b =  104
a/b= 0.6153846153846154

Comparison Operators

In [ ]:
a = 8 
b = 7
print ("a>b =" ,a>b)

a>b = True